@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 40px;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
}
.sidebar {
    list-style-type: none;
    margin-top: 50px;
    padding-bottom: 100px;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#eee;
    overflow-x: hidden;
    padding-top: 30px;
    padding-left: 5px;
  }
 
.container{
    margin-left: 250px;
}
.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #38ceef;
}

#drupalheader{
    width:100%;
}

.flex-box{
    display: flex;
    align-items: center;
      

}

.notes{
    margin: 15px;
    width: 30%;
    background-color:powderblue;
    padding:10px;

}

.bignotes{
    
    border-style: solid;
    border-width: 4px;
    border-radius:3%;
    margin: 15px;
    padding:10px;
    background-color:powderblue;

}
.code{
    
    font-family: 'Source Code Pro', monospace;
    color: rgb(78, 75, 75);


}
